---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="bg-light w-screen h-auto text-lteTxt dark:bg-darkMode dark:text-dmTxt"
    >
        <Header />
        <main class="w-10/12 h-auto mx-auto">
            <section class="w-full h-auto mx-auto">
                <ul
                    class="w-full h-auto grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 py-12"
                >
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/blog/${post.slug}/`}>
                                    <img
                                        width={720}
                                        height={360}
                                        src={post.data.heroImage}
                                        alt=""
                                    />
                                    <h4 class="title">{post.data.title}</h4>
                                    <p class="date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
