---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="bg-light w-screen h-auto text-lteTxt dark:bg-darkMode dark:text-dmTxt"
    >
        <Header />
        <main class="w-10/12 h-auto mx-auto">
            <section class="w-full h-auto mx-auto">
                <ul
                    class="w-full h-auto grid grid-cols-1 text-darkMode md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-4 md:gap-8 lg:gap-12 py-12"
                >
                    {
                        posts.map((post) => (
                            <li
                                class="min-h-[500px] p-4 relative rounded-tr-2xl rounded-tl-2xl"
                                style={`background: linear-gradient(45deg, ${post.data.colorOne}, ${post.data.colorTwo}) `}
                            >
                                <a href={`/blog/${post.slug}/`}>
                                    <img
                                        class="absolute w-full h-[240px] imgs bottom-0 left-0"
                                        src={post.data.heroImage}
                                        alt={post.data.imgAlt}
                                    />
                                    <h4 class="title">{post.data.title}</h4>
                                    <p class="text-sm my-2">
                                        {post.data.description}
                                    </p>
                                    <p
                                        class={`date text-xs font-bold !text-${post.data.txtColor}-950`}
                                    >
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
        <style>
            .imgs {
                box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
            }
        </style>
    </body>
</html>
