---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body
        class="bg-light w-screen h-auto text-lteTxt dark:bg-darkMode dark:text-dmTxt"
    >
        <Header />
        <main class="w-10/12 h-auto mx-auto py-12">
            <article>
                <div class="hero-image">
                    {
                        heroImage && (
                            <img
                                class="mx-auto"
                                width={1020}
                                height={510}
                                src={heroImage}
                                alt=""
                            />
                        )
                    }
                </div>
                <div class="prose">
                    <div class="title">
                        <div class="dark:text-cyan-300">
                            <FormattedDate date={pubDate} />
                            {
                                updatedDate && (
                                    <div class="last-updated-on">
                                        Last updated on{' '}
                                        <FormattedDate date={updatedDate} />
                                    </div>
                                )
                            }
                        </div>
                        <h1 class="text-2xl">{title}</h1>
                        <hr class="border-cyan-300" />
                    </div>
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
